.square {
    width: 0.7em;
    height: 0.7em;
    display: inline-block;
    margin-right: 0.5em;
}
.drink-name {
    color: #787878;
}
.body tr > *{
    font-size: 0.7rem;
    text-transform: uppercase;
}
.headers th {
    font-size: 1.2rem;
    padding: 0 0 1.6rem 0;
    text-transform: uppercase;
    font-weight: 400;
}