<table class="table table-borderless table-sm table-responsive bg-transparent drink-list">
    <thead class="drink-name">
      <tr class="headers">
        <th *ngFor="let head of headers">{{head}}</th>
      </tr>
    </thead>
    <tbody class="body">
      <tr *ngFor="let row of rows">
        <th class="drink-name font-weight-bold w-50"><span  class="square" [ngStyle]="{'background': row.color}"></span>{{row.name}}</th>
        <td class="number w-25">{{row.value}}</td>
        <td class="number w-25">{{row.likes}}</td>
      </tr>
    </tbody>
</table>