<h2>Indicators</h2>
<div>
  <div class="w-25 h-100 text-center d-inline-block" *ngFor="let stat of stats">
    <circle-progress [percent]="stat.percent" [title]="stat.value"></circle-progress>
    <div class="w-100 text-uppercase basic-color indicator-title font-weight-bold">{{stat.title}}</div>
    <div class="text-uppercase title-color indicator-subtitle">{{stat.subtitle}}</div>
  </div>
</div>