.circle-responsive {
    background: #ddd;
    border-radius: 50%;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
  }

  .circle-content {
    color: #fff;
    float: left;
    line-height: 1;
    margin-top: -0.5em;
    padding-top: 45%;
    text-align: center;
    width: 100%;
  }

  .circle {
    background: #ddd;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }