<button>Add</button>
<label>Drink name:
  <input [(ngModel)]="drink.name" placeholder="name">
</label>
<label>Drink price:
  <input [(ngModel)]="drink.price" placeholder="price">
</label>

<div class="drinks" style="width: 600px">
  <div *ngFor="let drink of drinks" style="float: left;">
    <div class="circle" (click)="onBuy(drink)">
        <div class="circle-content">
          <span>{{drink.name | uppercase}}</span><br>
          <span>{{drink.volume | uppercase}}</span>
        </div>
    </div>
  </div>
</div>
<br>
<br>
<div style="width: 200px;">
  <span *ngFor="let event of events" style="float: left;">
    {{event.date | date: 'MMM d, y h:mm:ss a'}} - {{event.name}}<br>
  </span>
</div>


