<h2>Drinks statistics</h2>
<div class="chart-container" *ngIf="datasets">
    <canvas baseChart  [datasets]="datasets" [labels]="labels" [options]="chartOptions" [colors]="chartColors"
        [legend]="legend" [chartType]="type"></canvas>
</div>