<h2>Event log</h2>
<table class="table table-borderless table-sm table-responsive bg-transparent ">
    <tbody class=body>
      <tr *ngFor="let event of data">
        <th class="font-weight-bold title-color">{{event[0]| date: 'hh:mm:ss'}}</th>
        <td class="number font-weight-bold">{{event[1]| uppercase}}</td>
      </tr>
    </tbody>
</table>