/* h2 {
    margin-bottom: 0.5em;
} */
.events > .event > span:nth-child(0) {
    color: lightslategray;
}
.events > .event > span:nth-child(1) {
    color: white;
}
.body tr > *{
    font-size: 0.7rem;
    text-transform: uppercase;
}