body {
    background: #282828;
}

doughnut-empty {
    color: #2f2f2f;
}
doughnut-full {
    color: #585858;
}
.number, .basic-color {
    color: #ffffff;
}

.title-color, h2 {
    color: #787878;
}

.row > div {
    padding: 1.5rem 1rem 1rem 1rem;
    border: 1px solid #787878;
}
.row > div.special {
    padding: 0; 
    border: none;
}
h2 {
    padding-bottom: 1.6rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
}
