<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-4">
      <app-drink-statistics></app-drink-statistics>
    </div>
    <div class="col-lg-2">
        <app-drink-list></app-drink-list>
    </div>
    <div class="col-lg-6">
      <app-indicators></app-indicators>
    </div>
    <div class="w-100 special"></div>
    <div class="col-lg-6">
      <app-drinks-in-time></app-drinks-in-time>
    </div>
    <div class="col-lg-2">
      <app-event></app-event>
    </div>
    <div class="col-lg-4">col 6</div>
  </div>
</div>