<h2>Drinks in time</h2>
<div class="chart-container">
  <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
    [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
</div>